<body class="bg-black text-white">
  <header class="flex justify-center">
    <div class="-mt-10 sm:-mt-32">
      <img
        src="assets/kode.jpeg"
        alt="Kodefix Labs"
        class="sm:h-[400px] sm:w-[320px] h-42 w-56 object-cover"
      />
    </div>
  </header>

  <main>
    <section class="mt-1 flex justify-center">
      <div class="flex flex-col">
        <h1 class="mb-5 text-3xl sm:text-9xl font-bold leading-tight text-dark dark:text-white sm:leading-[1.2]">
          Building Tomorrow’s Tech, <br />
          <p class="flex justify-center">Today.</p>
          <svg class="animate-bounce w-6 h-6 ..."></svg>
        </h1>
      </div>
    </section>

    <section class="flex mx-auto sm:px-32 text-center sm:mt-20">
      <p class="sm:mb-10 sm:text-xl leading-relaxed text-body-color dark:text-dark-6">
        At Kodefix Labs, we believe in the power of technology to transform
        businesses. We are committed to delivering exceptional value through our
        innovative solutions, ensuring our clients stay ahead in an ever-evolving
        digital landscape. Join us on a journey of innovation and excellence, and
        let Kodefix Labs be your trusted partner in achieving your digital goals.
      </p>
    </section>

    <section class="mt-20 sm:ps-0 flex justify-center sm:text-7xl text-6xl mb-10 sm:mb-0 font-bold leading-tight text-dark dark:text-white sm:leading-[1.2]">
      <h2>Our Projects</h2>
    </section>

    <section id="about" class="bg-gray-1 pb-8 pt-20 dark:bg-dark-2 ps-3 sm:ps-28 lg:pb-[70px] lg:pt-[120px]">
      <div class="container -mt-20">
        <div class="wow fadeInUp" data-wow-delay=".2s">
          <div class="flex flex-wrap w-full">
            <div class="w-full mx-auto">
              <div class="flex flex-col sm:flex sm:flex-row justify-center gap-x-10">
                <div class="bg-[linear-gradient(45deg,transparent_25%,rgba(68,68,68,.2)_50%,transparent_75%,transparent_100%)] bg-zinc-950 relative max-w-md overflow-hidden rounded-xl border border-slate-900 bg-[length:250%_250%,100%_100%] bg-[position:-100%_0,0_0] bg-no-repeat px-8 py-16 shadow-2xl transition-[background-position_0s_ease] hover:bg-[position:200%_0,0_0] hover:duration-[1500ms]">
                  <span class="mb-4 inline-flex items-center justify-center rounded-md bg-white w-full h-40 p-2 shadow-lg">
                    <img src="assets/bakejoli.png" alt="Bakejoli" class=""/>
                  </span>
                  <h3 class="mb-2 text-3xl text-white">BakeJoli</h3>
                  <p class="text-sm text-white text-justify">
                    Discover Bakejoli, a cutting-edge job-seeking web app crafted
                    with precision by Kodefix Labs. Designed to streamline your job
                    search, Bakejoli offers a seamless experience with personalized
                    job recommendations and easy application tracking. Developed
                    with the latest technologies, Bakejoli is here to transform the
                    way you find and apply for jobs, making your career journey as
                    smooth and efficient as possible.
                  </p>
                </div>
                <div class="bg-[linear-gradient(45deg,transparent_25%,rgba(68,68,68,.2)_50%,transparent_75%,transparent_100%)] bg-zinc-950 relative max-w-md overflow-hidden rounded-xl border border-slate-900 bg-[length:250%_250%,100%_100%] bg-[position:-100%_0,0_0] bg-no-repeat px-8 py-16 shadow-2xl transition-[background-position_0s_ease] hover:bg-[position:200%_0,0_0] hover:duration-[1500ms]">
                  <span class="mb-4 inline-flex items-center justify-center rounded-md bg-white w-full h-40 p-2 shadow-lg">
                    <img src="assets/11logo.png" alt="11frames.studio" class=""/>
                  </span>
                  <h3 class="mb-2 font-medium text-white">11 Frames</h3>
                  <p class="text-sm text-white text-justify">
                    Explore 11frames.studio, an exceptional digital invitations and
                    galleries platform developed by Kodefix Labs. Tailored for
                    weddings and special events, 11frames.studio offers a
                    sophisticated way to share event details, images, and venue
                    locations. With options to store and showcase your event images
                    for up to 6 months or 1 year, 11frames.studio is designed to
                    make your celebrations unforgettable. Experience the innovation
                    and quality that Kodefix Labs brings to every project with
                    11frames.studio.
                  </p>
                </div>
              </div>
            </div>

            <div class="w-full px-4 lg:w-1/2">
              <div class="flex flex-wrap -mx-2 sm:-mx-4 lg:-mx-2 xl:-mx-4">
                <div class="w-full px-2 sm:w-1/2 sm:px-4 lg:px-2 xl:px-4"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</body>
